<%- include partials/header.ejs %> 

 <%- include partials/main_nav.ejs %> 
  <!--Main Content-->
  <main>
  <div class="p-5 text-center bg-light">
    <h1 class="display-4">Welcome to my Portfolio</h1>
    <blockquote class="blockquote">
    <p><em>Junior Software Developer</em></p>
    
    </blockquote>
    <a class="btn btn-link" href="/aboutme" role="Button">About me</a>
    <a class="btn btn-link" href="/projects" role="Button">Projects</a>
    <a class="btn btn-link" href="/services" role="Button">Services</a>
    <a class="btn btn-link" href="/contactme" role="Button">contact</a>
    <br><br>
    <p>Goal oriented and highly motivated professional dedicated to enhancing levels of customer satisfaction and meeting
      goals. Dedicated team player with strong leadership skills always looking towards enhancing my professional skills
      and efficiency</p>
  </div>
  </main>
  <%- include partials/bottom_nav %> 
 <%- include partials/footer.ejs %> 
   










